.marketplace {
  padding: 20px 40px;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.top-row input {
  width: 70%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.add-item {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background: #2e2a33;
  color: white;
  cursor: pointer;
}
