.product-section {
  margin-bottom: 50px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-header span {
  color: #2e2a33;
}

.view-all {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}

.view-all img {
  width: 12px;
  margin-left: 5px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
